@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Audiowide|Montserrat:500|Ubuntu:700");
body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;

  background: url("./assets/landingBg.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.App {
  max-width: 1920px;
  overflow: hidden !important;
}
.form-input::placeholder {
  color: rgba(219, 87, 43, 0.7);
}
.loginLanding {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}
.landing {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}
.registerTitle {
  color: white;
  font-family: "Audiowide";
}
#loginBoxWrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input:-webkit-autofill {
  background-color: red !important;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.form-group-hor {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 101%;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;

  font-family: "josefin sans";
}
.form-input {
  color: white;
  height: 30px;
  width: 101%;
  background-color: transparent;
  border: none !important;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5) !important;
  font-size: 20px;
  outline: none;
  padding-left: 10px;
  box-sizing: border-box;
  font-family: "josefin sans";
}
.form-btn {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  color: #ffefbb;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
  height: 30px;
  font-size: 15px;
  width: 100%;
  outline: none;
  color: black;
  border: none;
  font-family: "josefin sans";
}
.form-btn:hover {
  transition: all 0.2s ease-in;
  background-color: #e0f794;
  cursor: pointer;
}
.form-group > label {
  color: white;
  font-family: "josefin sans";
}
.googleBtn:hover {
  transition: all 0.2s ease-in;
  background-color: #ff6060;
  cursor: pointer;
}
.googleBtn {
  width: 101%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 30px;
  margin-top: 5px;
  background-color: transparent;
  border: none;
  color: #ffefbb;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6);
  color: black !important;
}

@media (min-width: 700px) and (max-width: 1000px) {
  #loginBoxWrapper {
    width: 50%;
  }
}
@media (max-width: 700px) {
  #loginBoxWrapper {
    width: 90%;
  }
}
