.forumsWrap {
  min-height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}
.delBtn {
  margin-left: 10px;
  color: #041725;
  font-family: "ubuntu";
  z-index: 10;
}
.delBtn:hover {
  color: #e5a930;
  cursor: pointer;
}
.forumTopics {
  width: 80%;
  min-height: 100vh;
  border-left: 1px solid #213746;
  border-right: 1px solid #213746;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.postWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 130px;
}
.post {
  min-height: 150px;
  width: 98%;
  display: flex;
  background-color: #213746;
  margin-top: 10px;
  font-family: "josefin sans";
}
.aboutPoster {
  width: 25%;

  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #041725;
}
.postDescWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  width: 75%;
}
.postTopic {
  font-size: 30px;
  color: #a57228 !important;
  height: 20%;
}
.forumUserName {
  font-size: 20px;
  color: #a57228;
}
.forumPic {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 10px 1px;
}
.postDesc {
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 60%;
  margin-top: 20px;
}
.postDate {
  height: 20%;
  display: flex;
  justify-content: flex-end;
  width: 100%;

  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.6);
}
.post:hover {
  background-color: rgb(46, 78, 100);
}
.fa-plus {
  color: #dd8927 !important;
  margin-top: 10px;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.3s;
}
.fa-plus:hover {
  transition: all 0.3s;
  transform: scale(1.2);
}
.fa-plus:active {
  transform: scale(1);
}
